
body {
	font-family: Palatino,Times New Roman, serif;
	background-color: #d9efff;
	width : 100%;
	height : 100%;
	overflow : hidden;
	margin : 0;	
}

#tirette{   /* valeur des tirettes */
	position : absolute;
	top : 4px;
	left : 29vh ;
	width : 17vh;
	text-align: center;
	border: 1px outset #656565;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #343434;
	font-size : 2.5vh;
	font-style : normal;
	font-weight: bold;
        font-family: "times new roman", times, serif;
	background-color: white;
}

#aiguilles{   /* texte : Position des aiguilles */
	position : absolute;
	top : calc(77% - 20px);
	left : calc(38vh - 70px);  
	width : 140px;
	text-align: center;
	font-size : 16px;
	font-style : normal;
	font-weight: normal;
        font-family: "times new roman", times, serif;
}

#cadran{   /* valeur des aiguilles sur cadrans */
	position : absolute;
	top : 77%;
	left : calc(38vh - 72px); 
	width : 140px;
	border: 1px outset #656565;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #343434;
	text-align: center;
	font-size : 2.5vh;
	font-style : normal;
	font-weight: bold;
        font-family: "times new roman", times, serif;
	background-color: white;
}

#RAZflech{ /* effacer cadrans */
	position : absolute;
	top : 10px;
	left : 6vh;
	border: 1px outset #656565;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #343434;
	font-size : 2vh ;
	font-style : italic;
}

#RAZdisk{ /* effacer totalisateur */
	position : absolute;
	top : 10px;
	left : 49vh;
	border: 1px outset #656565;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #343434;
	font-size : 2vh ;
	font-style : italic;
}

#avertissement{
	position : absolute;
	top : 10px;
	left : 73vh;
	margin : 10px;
	padding : 10px;
 	background-color: white;
	height: 92%;
	font-size : 18px ;
  	overflow-y: scroll;
  	scrollbar-color: lightblue lightgrey;
}

#exemples{
	position : absolute;
	width : 50%;
	height : 5%;
	top : calc(77% + 30px);
	left : 1vh;
	font-style : bold; 
	font-style : italic;
	font-size : 2.5vh;
	line-height: 70%;
}

.retard input{
	position : absolute;
	top : calc(78%);
	left : 5px; 
	width : 100px;
	height : 5px;
	
}

#bAddition {
    position:absolute;
	width : 3.5vh ;
	height : 3.5vh ;
	bottom : 9% ;
	left : 14vh;   
}
#bAddition img {
    width : 100%;
    height: 100%;
}

#bSoustraction {
    position:absolute;
	width : 3.5vh ;
	height : 3.5vh ;
	bottom : 9% ;
	left : 24vh;
}
#bSoustraction img {
    width : 100%;
    height: 100%;
}

#bMultiplication {
    position:absolute;
	width : 3.5vh ;
	height : 3.5vh ;
	bottom : 9% ;
	left : 34vh;	
}
#bMultiplication img {
    width : 100%;
    height: 100%;
}

#bDivision {
    position:absolute;
	width : 3.5vh ;
	height : 3.5vh ;
	bottom : 9% ;
	left : 44vh;	
}
#bDivision img {
    width : 100%;
    height: 100%;
}

#bSigma {
    position:absolute;
	width : 3.5vh ;
	height : 3.5vh ;
	bottom : 9% ;
	left : 54vh;	
}
#bSigma img {
    width : 100%;
    height: 100%;
}

#textExemples{ /* display exemples */
	position : absolute;
	top : calc(77% + 80px);
	left : 5vh;
	font-style :normal;
	font-weight: normal;
	font-size: 2.5vh;
	background-color: white;
}

}

