body {
    font-family: Palatino, Times New Roman, serif;
    background-color: #d9efff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

#tirette {
    /* valeur des tirettes */
    position: absolute;
    top: 10px;
    right: 40vw;
    width: 20vw;
    text-align: center;
    border: 1px outset #656565;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #343434;
    font-size: 1.2em;
    font-style: normal;
    font-weight: bold;
    font-family: "times new roman", times, serif;
    background-color: white;
}

#cadran {
    /* valeur des aiguilles sur cadrans */
    position: absolute;
    bottom: 10px;
    right: 40vw;
    width: 20vw;
    border: 1px outset #656565;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #343434;
    text-align: center;
    font-size: 1.2em;
    font-style: normal;
    font-weight: bold;
    font-family: "times new roman", times, serif;
    background-color: white;
}

button {
    border: 1px outset #656565;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #343434;
    font-size: 1em;
    font-style: italic;
    margin: 10px;
}

button:hover {
    background-color: rgb(187, 184, 184);
}

#button {
    position: absolute;
    display: flex;
    flex-direction: column;
}